@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  align-items: center;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
  min-height: 100vh;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.nav-bar {
  display: flex;
    width: 30vw;
    justify-content: space-around;
    font-size: 20px;
}